* {
	box-sizing: border-box;
	font-family: "Segoe UI";
	user-select: none;
}

body {
	margin: 0;
}

#app {
	display: flex;
	margin-left: auto;
	margin-right: auto;

	width: 40rem;
	height: 100vh;
}

main {
	width: 40rem;
}